@{
    ViewBag.Title = "About";
}
<br/>
<h1>About Me</h1>
<h3>@ViewBag.Message</h3>
<br />
<div class="row bg-light">
    <div class="col-sm-8">
        <h3>Bio</h3>
        <p>Hi! My name is Tifuh Nche. I am currently a second year BSc IKS student. I have always loved working on computers whether it was playing video games, making posters, logos or other pieces of art. I.T. quickly became my favourite subject in highschool.</p>
        <p>I knew from then on that I wanted to continue learning about systems and programs as well as continue coding and learning more programming and markup languages. I strive to incorporate as much of my creative side with any of my projects, as it is something that I love.</p>
    </div>
    <div class="col-sm-4">
        <h3>Tifuh</h3>
        <img src="~/Images/Tifuh.jpg" class="img-fluid" alt="Image of Tifuh Nche" height="300"/>
    </div>
</div>